@use 'modules/config' as conf;

.footer {  
  &__sidebar {
    display: none;

    // @include desktop {
    //   display: none;
    // }
  }

  &__base {
  	display: inline-block;
    // @include desktop {
    //   display: none;
    // }
  }
}

.sidebar__introduction-profileimage {
	object-fit: contain;

	@include conf.desktop {
		object-fit: cover;
	}
}