.archive__list-item:has(a .post__thumbnail-wrapper) {
	display: block;
}
.archive__list-item > a > .post__thumbnail-wrapper {
	display: block;
}

.post__thumbnail {
	height: auto;
}

.post__title {
	font-size: xx-large;
}

.archive {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5em;
}

.archive__list-item {
	background: hsl(from var(--chr-l-color) h s l / 20%);
	border-radius: 5px;
	padding: 1em;
}
.archive__list-item > a {
	width: 100%;
}

.post__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme--dark a:hover {
	color: var(--chr-k-color);
}