:root {
	--custom-pink: #ff0077;
}

:root.theme--dark {
	--custom-pink: #ff84ac;
}

body {
	font-family: 'Space Grotesk', sans-serif;
}

.archive__list-item:has(a .post__thumbnail-wrapper) {
	display: block;
}
.archive__list-item > a > .post__thumbnail-wrapper {
	display: block;
}

.post__thumbnail {
	height: auto;
}

.post__title {
	font-size: xx-large;
}

.archive {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5em;
}

.archive__list-item {
	background: hsl(from var(--chr-l-color) h s l / 20%);
	border-radius: 5px;
	padding: 1em;
}
.archive__list-item > a {
	width: 100%;
}

.post__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme--dark a:hover, .theme--light a:hover {
	color: var(--chr-k-color);
}

.sidebar__introduction-profileimage {
	width: 80%;
	height: unset;
	border-radius: 0;
	aspect-ratio: auto;
}

.sidebar__introduction-title {
	text-transform: none;
}

.theme--dark .post__content a:not(:hover), .theme--light .post__content a:not(:hover) {
	color: var(--custom-pink);
}

.nav__list-item a {
	text-transform: none;
	color: var(--custom-pink);
}

p a {
	text-decoration: underline dashed;
	text-underline-offset: 4px;
}

strong {
	color: var(--chr-k-color);
	font-weight: 700;
}